*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- Temporary verification / debug files ------------------------------------
node_modules/
package.json
package-lock.json
_cdp_check.js
_cdp_full_check.js
_check_dups.js
_syntax_check.js
_screenshot_app.png
_ss_*.png
scratch/
